<div class="row mb-4">
    <div class="col">
        <h1>{{title}}</h1>

        <p>I am starting with <strong>{{totalAccountValue | currency}}</strong>.</p>
        <p>I am <strong>{{startYear}}</strong> and want money to last until I am <strong>{{endYear}}</strong> years old.
        </p>
        <p>If I want to withdraw <strong>{{withdrawalAmount | currency}}</strong> per month...</p>

        <canvas id="myChart" width="800" height="500"></canvas>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Pros:</h2>
                <ul class="card-text">
                    <li>Existing default charts</li>
                    <li>Easy coloring</li>
                    <li>Built in tooltips</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Cons:</h2>
                <ul class="card-text">
                    <li>Documentation looks nice but is hard to follow</li>
                    <li>Existing Angular libraries are not actively maintained - used vanilla as a result</li>
                    <li>Had to get a bit hacky to get area shading to look right</li>
                </ul>
            </div>
        </div>
    </div>
</div>