$black: #000000;
$gray: #6E6E6E;

.container{
    padding: 1.2rem 1rem;
}

a {
    display: inline-block;
    padding: 0rem 1rem;
    margin-right: 0.5rem;
    color: $black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: normal;
    transition: all 0.2s;
    border-bottom: 2px solid $black;
    text-align: center;

    &:hover{
        color: $gray;
        border-bottom: 3px solid $black;
    }
}