<div class="container">
    <h1>{{title}}</h1>

    <p>I am starting with <strong>{{totalAccountValue | currency}}</strong>.</p>
    <p>I am <strong>{{startYear}}</strong> and want money to last until I am <strong>{{endYear}}</strong> years old.</p>
    <p>If I want to withdraw <strong>{{withdrawalAmount | currency}}</strong> per month...</p>

    <canvas id="myChart" width="800" height="500"></canvas>
</div>

<div>
    <h2>Pros:</h2>
    <ul>
        <li></li>
    </ul>
    <h2>Cons:</h2>
    <ul>
        <li></li>
    </ul>
</div>