<div class="row mb-4">
  <div class="col">
    <h1>{{ title }}</h1>

    <p>
      I am starting with <strong>{{ totalAccountValue | currency }}</strong
      >.
    </p>
    <p>
      I am <strong>{{ startYear }}</strong> and want money to last until I am
      <strong>{{ endYear }}</strong> years old.
    </p>
    <p>
      If I want to withdraw
      <strong>{{ withdrawalAmount | currency }}</strong> per month...
    </p>

    <ngx-charts-line-chart
      [scheme]="colorScheme"
      [legend]="legend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [timeline]="timeline"
      [results]="multi"
      (select)="onSelect($event)"
      (activate)="onActivate($event)"
      (deactivate)="onDeactivate($event)"
    >
    </ngx-charts-line-chart>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Pros:</h2>
        <ul class="card-text">
          <li></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Cons:</h2>
        <ul class="card-text">
          <li></li>
        </ul>
      </div>
    </div>
  </div>
</div>
